{% extends "public_template.html" %}

{% block title %}Edit week{% endblock %}

{% block main %}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>Edit week</h1>
            <h6 class="font-weight-light">Year {{week['year']}} – Week {{week['week_number']}}</h6>
        </div>
    </div>
    <div class="row">
        <div class="col mt-2">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    {% for day in week['days'] %}
                    <a class="nav-item nav-link" id="{{ day.get('id') }}-tab" data-toggle="tab"
                        href="#{{ day.get('id') }}" role="tab" aria-controls="{{ day.get('id') }}"
                        aria-selected="false">{{ day.get('day_name') }}</a>
                    {% endfor %}
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                {% for day in week['days'] %}
                <div class="tab-pane fade" id="{{ day.get('id') }}" role="tabpanel"
                    aria-labelledby="{{ day.get('id') }}-tab">
                    <div class="col-6 offset-3 text-center mt-5">
                        <h3>{{day.get('date')}}</h3>
                    </div>
                    <div class="col-6 offset-3 mt-3">
                        <form method="POST" enctype="multipart/form-data">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-utensils"></i></div>
                                </div>
                                <input type="text" id="menu" name="{{day.get('id')}}_menu" class="form-control"
                                    placeholder="Menu" value="{{day.get('menu', '')}}">
                            </div>
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-clock"></i></div>
                                </div>
                                <input type="text" id="time" name="{{day.get('id')}}_time" class="form-control"
                                    placeholder="Time" value="{{day.get('time', '')}}">
                            </div>
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-file"></i></div>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="file">
                                    <label class="custom-file-label" for="customFile">{{day.get('image', "Image")}}</label>
                                  </div>
                            </div>
                            <div class="text-right mt-3">
                                <button type="submit" class="btn btn-secondary">Save</button><br>
                                <small class="text-muted">Save each day individual</small>
                            </div>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% endblock %}

    {% block script %}
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    {% endblock %}