<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">Who's there</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('show_week') }}">Show current week</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add week
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('add_week') }}">Add current week</a>
                    <a class="dropdown-item" href="{{ url_for('add_week') }}1">Add next week</a>
                    <a class="dropdown-item" href="{{ url_for('add_week') }}2">Add week after next</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ url_for('edit_week') }}" id="navbarDropdownMenuLink2" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <!--ToDo dynamic loading of names-->
                        <a class="dropdown-item" href="{{ url_for('vote') }}patrick">Patrick</a>
                        <a class="dropdown-item" href="{{ url_for('vote') }}silvia">Silvia</a>
                        <a class="dropdown-item" href="{{ url_for('vote') }}giulia">Giulia</a>
                        <a class="dropdown-item" href="{{ url_for('vote') }}amelia">Amelia</a>
                        <a class="dropdown-item" href="{{ url_for('vote') }}elia">Elia</a>
                    </div>
                </li>
        </ul>
    </div>
</nav>