<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">Who's there</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('show_week') }}">Show current week</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Week editor
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('add_week', future = 0) }}">current week</a>
                    <a class="dropdown-item" href="{{ url_for('add_week', future = 1) }}">next week</a>
                    <a class="dropdown-item" href="{{ url_for('add_week', future = 2) }}">week after next</a>
                </div>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('vote') }}"><i class="fas fa-vote-yea"></i></a>
                </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                {% if 'USER' in session %}
                <div class="dropdown-menu dropdown-menu-right">
                    <h5 class="ml-3 mt-2">Hi {{session['USER'].capitalize()}}!</h5>
                    <hr>
                    <a class="dropdown-item" href="{{ url_for('manage_user') }}">Manage users</a>
                    <a class="dropdown-item text-danger" href="{{ url_for('logout') }}">Logout</a>
                </div>
                {% else %}
                <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item btn btn-primary" href="{{ url_for('login') }}">Login</a>
                    </div>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>