{% extends "public_template.html" %}

{% block title %}Who's there{% endblock %}

{% block main %}

<div class="container mt-5">
  <div class="row">
    {% if not week.new_week %}
    <div class="col-6">
      <h1>Who's there</h1>
      <h6 class="font-weight-light">Year {{week['year']}} – Week {{week['week_number']}}</h6>
    </div>
    <div class="col-6 mt-5 text-right">
      <a class="btn btn-primary" href="{{ url_for('edit_week') }}{{ week['year'] }}/{{ week['week_number'] }}"
        role="button">Edit <i class="far fa-edit"></i></a>
    </div>
    {% else %}
    <div class="col">
      <h1>Who's there</h1>
      <hr>
    </div>
    {% endif %}
  </div>
  <div class="row">
    {% if not week.new_week %}
    <div class="col mt-2">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          {% for day in week['days'] %}
          <a class="nav-item nav-link" id="{{ day.get('id') }}-tab" data-toggle="tab" href="#{{ day.get('id') }}"
            role="tab" aria-controls="{{ day.get('id') }}" aria-selected="false">{{ day.get('day_name') }}</a>
          {% endfor %}
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        {% for day in week['days'] %}
        <div class="tab-pane fade" id="{{ day.get('id') }}" role="tabpanel" aria-labelledby="{{ day.get('id') }}-tab">
          {% if day['menu'] %}
          <div class="row">
            <div class="col-12 mt-4">
              <h3 class="mb-3">{{day['menu']}}</h3>
              <h6 class="font-weight-light">{{day.get('time')}}</h6>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <img
                src="{{ url_for('static', filename='menu_images/' + day.get('image', 'placeholder.jpg'))}}"
                class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-6">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Attending</th>
                  </tr>
                </thead>
                <tbody>
                  {% for name, attends in day.get('attending', {}).items() %}
                  <tr>
                    <th scope="row">{{name.capitalize()}}</th>
                    <td>{% if attends %}<i class="fas fa-check"></i>{% elif attends == false %}<i class="fas fa-times"></i>{% else %}{% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% else %}
          <div class="row">
            <div class="col-12 mt-5 text-center">
              <h3>No menu set for this day</h3>
            </div>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    {% else %}
    <div class="col mt-5 text-center">
      <h2>Week {{week.week_number}} not added yet</h2>
      <h6>{{week.days[0].date}} - {{week.days[6].date}}</h6>
      <a class="btn btn-success btn-lg mx-auto mt-3" href="{{ url_for('edit_week', year=week.year, week_number=week.week_number) }}" role="button">Add week now</a>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock %}