{% extends "public_template.html" %}

{% block title %}Who's there{% endblock %}

{% block main %}

<div class="container mt-5">
    <h1>Hello {{ name }}</h1>
    <h3>When are you eating at home?</h3>
    <hr>
    {% if not week.new_week %}
    <div class="row mt-3">
        {% for day in week['days'] %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-8 offset-2 offset-sm-0 mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">{{day.get('day_name')}}</h5>
                    {% if day['menu'] %}
                    <h6 class="card-subtitle mb-2 text-center">{{day.get('menu')}}</h6>
                    <p class="text-muted text-center">{{day.get('time')}}</p>
                    {% if day.get('attending', {}).get(name.lower()) == None %}
                    <div class="mt-4">
                        <a href="{{url_for('vote_no', date = day.get('date').replace('.', ''), person = name)}}"
                            class="btn btn-danger"><i class="fas fa-times"></i></a>
                        <a href="{{url_for('vote_yes', date = day.get('date').replace('.', ''), person = name)}}"
                            class="btn btn-success float-right"><i class="fas fa-check"></i></a>
                    </div>
                    {% else %}
                    <div class="mt-4 text-center">
                        {% if day.get('attending')[name.lower()] == True %}
                        <h3><a href="{{url_for('vote_no', date = day.get('date').replace('.', ''), person = name)}}"><i class="fas fa-check text-success"></i></a></h3>
                        {% elif day.get('attending')[name.lower()] == False %}
                        <h3><a href="{{url_for('vote_yes', date = day.get('date').replace('.', ''), person = name)}}"><i class="fas fa-times text-danger"></i></a></h3>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% else %}
                    <h6 class="card-subtitle mb-2 text-center text-muted">No menu</h6>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="col mt-5 text-center">
        <h2>Week {{week.week_number}} not added yet</h2>
        <h6>{{week.days[0].date}} - {{week.days[6].date}}</h6>
        <a class="btn btn-success btn-lg mx-auto mt-3" href="{{ url_for('edit_week', year=week.year, week_number=week.week_number) }}" role="button">Add week now</a>
      </div>
    {% endif %}
</div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock %}